includes:
	- vendor/yii2-extensions/phpstan/extension.neon

parameters:
    bootstrapFiles:
        - tests/Support/bootstrap.php

    dynamicConstantNames:
        - YII_ENV

    level: 2

    paths:
        - src

    scanFiles:
        - vendor/yiisoft/yii2/Yii.php

    yii2:
        config_path: %currentWorkingDirectory%/phpstan-yii-config.php

